body{
    display: flex;
    justify-content: center;
    .contenedor{
        margin:20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width:500px;
        height: 712px;
        background: rgb(117, 17, 199);
        border-radius: 5%;
        box-shadow: 42px 33px 0px 8px rgba(230,92,156,1);
        .pantalla{
            width:412px;
            height: 100px;
            background: #E65C9C;
            margin-bottom: 20px;
            border-radius: 5px;
            #resultado{
                padding: 10px;
                font-family: 'Oswald';
                color: white;
                font-size: 50px;
            }
        }
        .teclas{
            display: flex;
            button{
                width:100px;
                height: 100px;
                font-family: 'Oswald';
                font-size: 50px;
                margin:2px;
                background:#b1a5eb;
                color: white;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                &:hover{
                    background: #74b5c9;
                }
    
            }
            .num-group{
                display:flex;
                flex-direction: row; 
            }
            .relegados{
                display:flex;                
            }
            .operaciones{
                display: flex;
                flex-direction: column;
                button{
                    font-size: 70px;
                    &:hover{
                        background: #E65C9C;
                    }
                }
            }
        }
        .igual{
            button{
                width: 412px;
                height: 50px;
                font-family: 'Oswald';
                font-size: 30px;
                background:#74b5c9;
                color: white;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                margin:10px;
                &:hover{
                    background: #b1a5eb;
                }
                
            }     
            
        }
        
    }
}
