body{
    display: flex;
    justify-content: center;
    .contenedor{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width:500px;
        height: 612px;
        background: rgb(117, 17, 199);
        border-right: 30px solid #E65C9C;
        border-top: 30px solid #E65C9C;
        border-radius: 5%;
        
        
        
        .pantalla{
            width:412px;
            height: 100px;
            background: #E65C9C;
            margin-bottom: 20px;
            #resultado{
                padding: 10px;
                font-family: 'Oswald';
                color: white;
                font-size: 50px;
            }
        }
        .teclas{
            display: flex;
            button{
                width:100px;
                height: 100px;
                font-family: 'Oswald';
                font-size: 50px;
                margin:2px;
                background:#b1a5eb;
                color: white;
                border: none;
                cursor: pointer;
    
            }
            .num-group{
                display:flex;
                flex-direction: row; 
            }
            .relegados{
                display:flex;
                
            }
    
        }
        .operaciones{
            display: flex;
            flex-direction: column;
            button{
                font-size: 70px;
            }
        }
    }
}
